body {
    background: #f4f4f4;
    color: #757575;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    padding-bottom: 60px;
}

header {
    background-color:
}

.container {
    background-color: green;
    padding: 70px 75px;
    margin: 50px auto;
    border: 1px solid #a5d4fc;
}

.photo {
    margin-left: 50px;
    float: right;
}

.info{
    float: left;
}


hr {
    margin: 40px 0;
}

h1 {
    font-size: 2em;
    font-weight: bolder;
    text-transform: uppercase;
    color: #000;
    margin: 0;
}

h2 {
    font-size: 1.3em;
    background: #fcfcfc;
    padding: 10px;
}

h3 {
    font-size: 1.4em;
    text-transform: uppercase;
    color: #000;
    margin-top: 0;
}

h4 {
    margin: 15px 0 0;
}

p,
a {
    line-height: 1.7em;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 16px;
}

li {
    padding: 7px 0;
}
